#heading-box {
  background-color: black;
  float: none;
  height: 13%;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
}

#button-box {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  color: red;
  display: flex;
  align-items: center;
}

.heading-button {
  background-color: #04aa6d;
  border-color: white;
  height: 100%;
  width: 100%;
  margin: 5%;
  font-size: 300%;
  border-radius: 30px;
}
